@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');


:root {
    --nav-padding: 1rem;
    /*--main-padding: 15px;*/
    --nav-item-current-color: #202020;
    --nav-item-main-color: #10154e;
    --nav-item-not-current-color: #7b7b7b;
    --navbar-height: 50px;
}

.container-fluid {
    margin-top: var(--navbar-height);
}

.logo {
    width: 30px;
}

.bd-sidebar, .bd-toc {
    position: sticky;
    position: -webkit-sticky;
    top: var(--navbar-height);
    height: calc(100vh - 2 * var(--navbar-height));
    overflow-y: auto;

}

.bd-sidebar {
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.nav {
    padding-left: 0;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav .main-nav > li {
    margin-top: 5px;
}

.nav .main-nav > li > a {
    color: var(--nav-item-main-color);
    font-weight: 600;
    font-size: 95%;
}

.nav ul.sub-nav, .bd-toc ul {
    padding-left: var(--nav-padding);
}

.nav ul.sub-nav a, .bd-toc ul a {
    color: var(--nav-item-not-current-color)
}

.nav ul.sub-nav a.current {
    color: var(--nav-item-current-color);
    font-weight: bold;

}

.nav ul.sub-nav a:hover, .bd-toc ul a:hover {
    color: rgba(0, 0, 0, .75);
    text-decoration: none;
}

.nav a, .bd-toc a {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nav li {
    /*margin-top: 5px;*/
}


main {
    font-family: 'Roboto', sans-serif;
}

main .page-title {
    /*font-size: 3rem;*/
}

main .subsection-title {
    margin-top: 50px;
    font-weight: 600;
    /*font-size: 1.1rem;*/
}

main .subclasses, main .submodules {
    list-style-type: none;
}

main .item-title-wrapper {
    display: flex;
    margin-top: 40px;
    margin-bottom: 15px;
    /*font-size: 1.8rem;*/
}

main .item-name, main .item-type {
    position: relative;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
main .item-type {
    margin-left: -14px;
}

main .item {
    margin-bottom: 10px;
}


.bd-content .item[id]::before {
    display: block;
    height: var(--navbar-height);
    margin-top: calc(-1 * var(--navbar-height));
    content: "";
}

/*.member > :not(.item-title) {*/
/*margin-left: 20px;*/
/*}*/

.anchor-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.anchor {
    /*font-size: 2rem;*/
    cursor: pointer;
    float: right;
}

.anchor:hover {
    background-color: #de935f;
    border-radius: 2px;
}

.fromMD h1, .fromMD h2, .fromMD h3, .fromMD h4, .fromMD h5, .fromMD h6 {
    font-size: 1rem;
}

.bd-toc li {
    list-style-type: none;

}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}