<?js
    var params = obj, self = this;

    /* sort subparams under their parent params (like opts.classname) */
    var parentParam = null;
    params.forEach(function(param, i) {
        var paramRegExp;

        if (!param) {
            return;
        }

        if (parentParam && parentParam.name && param.name) {
            paramRegExp = new RegExp('^(?:' + parentParam.name + '(?:\\[\\])*)\\.(.+)$');

            if ( paramRegExp.test(param.name) ) {
                param.name = RegExp.$1;
                parentParam.subparams = parentParam.subparams || [];
                parentParam.subparams.push(param);
                params[i] = null;
            }
            else {
                parentParam = param;
            }
        }
        else {
            parentParam = param;
        }
    });

    /* create a description */
    params.forEach(function(param) {
        if (!param) { return; }
        var paramInfo = param.name ? param.name : "";

		if (param.variable) paramInfo = '...' + paramInfo;

		if (typeof param.defaultvalue !== 'undefined') {
			paramInfo = paramInfo + '=' + self.htmlsafe(param.defaultvalue);
		}

		if (param.optional || param.nullable) {
		  paramInfo = '[' + paramInfo + ']';
		}

		paramInfo = '<code>' + paramInfo + '</code> ';
		if (param.type && param.type.names) {
            		paramInfo = paramInfo + '<code>(' + self.partial('type.tmpl', param.type.names) + ')</code>';
        	}
		if (param.description) paramInfo +=  '&nbsp;&nbsp' + param.description;

		param.paramInfo = paramInfo;
    });
?>

<ol>
  <?js
      var self = this;
      params.forEach(function(param) {
          if (!param) { return; }
  ?>
  <li>
     <?js= param.paramInfo ?>
     <?js if (param.subparams) { ?>
        <h6>Properties</h6>
		<?js= self.partial('params.tmpl', param.subparams) ?>
     <?js } ?>
  </li>
  <?js }); ?>
</ol>
