<section>

<header>
    <?js if (children.length > 0) { ?>
    <h3>Child's:</h3>
    <ul><?js
        var self = this;
        children.forEach(function(t) { ?>
        <li><?js= self.tutoriallink(t.name) ?></li>
    <?js }); ?></ul>
    <?js } ?>
</header>

<article>
    <?js= content ?>
</article>

</section>
