@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');


:root {
    --nav-padding: 1rem;
    --nav-item-current-color: #202020;
    --nav-item-main-color: #10154e;
    --nav-item-not-current-color: #7b7b7b;
}


.logo {
    margin-right: 10px;
    width: 30px;
}

.fts-autocomplete {
    display: inline-block !important;
    flex: 1;
}

/*Methods, members etc*/
.ud-member__group {
    background: #e0ebf5;
    padding: 0.5rem;

}
.ud-member__signature {

}
/*member description section*/
.ud-member__descr {
    margin: 1.25rem;
}

.ud-anchor {
    color: #42b983 !important;
}


/* top margin to reserve space taken by navbar during navigation using TOV*/
main > section[id]::before,
.markdown-section > h2[id]::before,
.markdown-section > h3[id]::before,
.markdown-section > h4[id]::before {
    display: block;
    height: 6rem;
    margin-top: -6rem;
    content: ""
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

#search-result {
    position: fixed;
    top: 8rem;
    width: 90%;
    z-index: 5000;
    margin-left: 15px;
    max-height: 80vh;
    overflow-y: auto;
}

.search-item {
    background: #fff;
}

.dropdown-menu {
    font-size: 80%
}

.dropdown-menu .dropdown-item {
    overflow: hidden;
}

.dropdown-menu h6 {
    margin-bottom: .1rem;
}

main {
    font-family: 'Roboto', sans-serif;
}

/*main .page-breadcrumb {
    !*font-size: 3rem;*!
    position: sticky;
    top: var(--navbar-height);
    z-index: 1000;
}*/

main .subclasses, main .submodules, main .mixins {
    list-style-type: none;
}

main .item-title-wrapper {
    display: flex;
    margin-top: 40px;
    margin-bottom: 15px;
    /*font-size: 1.8rem;*/
}

main .item-name, main .item-type {
    position: relative;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

main .item-type {
    margin-left: -14px;
}

main .item {
    margin-bottom: 2rem;
}

main .deprecated {
    text-decoration: line-through !important;
}

main .arguments-title {
    font-size: 70%;
    font-weight: 500;
    margin-bottom: 0;
}

/*code bg*/
:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background-color: #f8f8f8 !important
}

.source pre[class*="language-"] {
    margin-top: -1em !important
}

main .breadcrumb {
    padding-bottom: 5px;
    padding-top: 5px;
}

main p > img {
    width: auto;
    height: auto;
    max-width: 100%;
}

/*!* for right top intend on open anchor link*!*/
/*.bd-content .item[id]::before, .bd-content h2[id]::before, .bd-content h1[id]::before {*/
/*    display: block;*/
/*    height: calc(var(--navbar-height) + 43px);*/
/*    margin-top: calc(-1 * var(--navbar-height) - 43px);*/
/*    content: "";*/
/*}*/

/*.fromMD h1, .fromMD h2, .fromMD h3, .fromMD h4, .fromMD h5, .fromMD h6 {*/
/*    font-size: 1rem;*/
/*}*/

.fromMD p {
    margin-bottom: 0;
}

/*.bd-toc li {*/
/*    list-style-type: none;*/
/*}*/

/*.navbar-expand-lg .navbar-nav .nav-link {*/
/*    padding-right: .5rem;*/
/*    padding-left: .5rem;*/
/*}*/

/*.navbar-expand-lg {*/
/*    -ms-flex-flow: row nowrap;*/
/*    flex-flow: row nowrap;*/
/*    -ms-flex-pack: start;*/
/*    justify-content: space-between;*/
/*}*/

.light-bold {
    font-weight: 500;
}

.small-badge {
    font-size: 50%;
    border-radius: 10rem;
    vertical-align: top;
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

@media (max-width: 768px) {

}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    /*.navbar-expand-lg {*/
    /*    -ms-flex-flow: row nowrap;*/
    /*    flex-flow: row nowrap;*/
    /*    -ms-flex-pack: start;*/
    /*    justify-content: flex-start;*/
    /*}*/

    /*.bd-sidebar, .bd-toc {*/
    /*    position: sticky;*/
    /*    position: -webkit-sticky;*/
    /*    top: var(--navbar-height);*/
    /*    height: calc(100vh - 2 * var(--navbar-height));*/
    /*    overflow-y: auto;*/
    /*}*/

    /*.bd-sidebar {*/
    /*    display: block !important;*/
    /*}*/

    /*.navbar-expand-lg .navbar-toggler {*/
    /*    display: none;*/
    /*}*/

    #search-result {
        width: 60%;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #search-result {
        width: 45%;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #search-result {
        width: 30%;
    }
}

/* sidebar */
.doc-sidebar {
    border-right: 1px solid #e5e5e5;
}
/* article TOC */
.doc-content-body > aside {
    padding: 15px;
    border-left: 1px solid #e5e5e5 ;
}